
#main {
    display: none;
    overflow: hidden;
}

#divout {
    margin-top: 45.5%;
    left: 42.5%;
    background-color: rgba(0,0,0,0.25);
    width: 15%;
    height: 30px;
    z-index: 1;
    position: relative;
}

#divin {
    background-color: rgba(0, 161, 255, 0.95);
    z-index: 2;
    height: 100%;
    width: 0%;
}

#textin {
    color: white;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    font-family: 'Baloo Bhai', cursive;
    margin-top: 2px;
}