/* CSS by Ryze#7988 and .Razor#0900*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

@font-face {
	font-family: inter;
	src: url('/ui/fonts/Inter.ttf');
}

@font-face {
    font-family: dejavu;
    src: url(/ui/fonts/DejaVuSans.ttf)
}

#main {
    display: none;
    overflow: hidden;
}

#divout {
    margin-top: 46.5%;
    left: 42.5%;
    background-color: rgba(0, 0, 0, 0.6);
    width: 15%;
    height: 28px;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}

#divin {
    background-color: rgba(255, 47, 47, 0.8);
    height: 100%;
    width: 0%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#textin {
    color: white;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Baloo Bhai';
    margin-top: 1px;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
}